.banner {

	width: 100%;
	padding: var(--s1) var(--s-1);
	background-color: var(--hero-color);
	color: var(--white-color);
	font-family: var(--body-font);
	font-weight: 100;
	line-height: var(--sec-line-height);
	font-size: var(--s0);

	.banner-large {
		font-size: var(--s1);
	}

	&.home-link {
		font-size: var(--s-1);
		font-weight: bold;
		padding: 0;
		a {
			color: var(--white-color);
		}
	}

	.heading {
		font-family: inherit;
		text-transform: capitalize;
		font-weight: bolder;
		color: inherit;
	}

	p, p > a * {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}

	a {
		color: var(--alt-link-color);
	}

	.button {
		text-align: center;
		background-color: var(--gun-metal-blue);
		color: var(--white-color);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--s-3);
		text-decoration: none;
	}

	@media (min-width: $mobile-breakpoint) {
		font-size: var(--s1);
		&.banner-small {
			font-size: var(--s1);
		}
	}

	.cta-container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: var(--project-spacing);
		a {
			width: 100%;
			flex: 1 1 auto;
		}
		@media (min-width: $mobile-breakpoint) {
			flex-wrap: nowrap;
			a { width: 45% }
			a:first-of-type {
				margin-right: var(--project-spacing);
			}
			a + a {
				margin-top: 0;
			}
		}

	}

}
