/*
 * Generic Section styles
 * Sept. 2019
 *
 * Author: Dave Gaskin
 */

@import '../breakpoints.scss';

.section {

	padding: var(--project-spacing);
	width: 100%;
	margin: 0 auto;

	.section-item {
		border: 1px solid var(--border-dark);
		background-color: var(--white-color);
		color: var(--type-color);
		overflow-wrap: break-word;
		padding: var(--project-spacing);
		box-shadow: var(--box-shadow-theme);
	}

	.heading {
		margin-bottom: var(--s-4);
	}

	.date {
		display: block;
		font-family: var(--header-font);
		font-style: italic;
		margin-top: var(--s-4);
		font-size: var(--s-1);
	}

	.read-more-link {
		font-size: var(--s-1);
		color: var(--hero-color);
		display: block;
		margin-bottom: var(--project-spacing);
		font-weight: bold;
	}

	.sub-section {
		padding-right: var(--s2);
		font-style: italic;
	}

	@media (min-width: 1024px) {
		width: 64vw;
	}

	.flex-parent {
		display: flex;
		flex-flow: row wrap;
		.flex-item {
			width: 100%;
		}
		@media (min-width: $mobile-breakpoint) {
			.flex-item {
				width: 45%;
				flex: 1 1 auto;
				margin-bottom: var(--project-spacing);
				&:nth-child(even) {
					margin-left: var(--project-spacing);
				}
				+ .flex-item {
					margin-top: 0;
				}
			}
		}
	}

	// &.section-extended {
	// 	border-left: 4px solid var(--white-color);
	// 	@media (min-width: 1024px) {
	// 		width: 77vw;
	// 	}
	// }

}

#projects,
#skillsets,
#skills {

	@media (min-width: $mobile-breakpoint) {
		.section {
			width: 45%;
		}
	}

}
