/*
 * Global styles
 */

:root {
	--project-spacing: var(--s-1);
}

* {
	box-sizing: border-box;
}

body > div .section + .section,
.section * + * {
	margin-top: var(--s-1);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--type-color);
}

// main {
// 	margin-top: var(--s4);
// }

a:link { color: var(--link-color) }
a:visited { color: var(--link-visited) }
a:hover,
a:visited:hover { color: var(--link-hover) }


:after,:before {
    box-sizing: border-box;
    background-color: inherit;
    font: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid
}

[hidden] {
    display: none
}

[hidden]+* {
    margin-top: 0!important
}

footer,header,main,nav {
    display: block
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

:focus {
    outline: var(--border-thin) solid var(--color-mid);
    outline-offset: var(--border-thin)
}

[tabindex="-1"]:focus {
    outline: none
}

noscript {
    padding: var(--s-1);
    background-color: var(--color-lightish)
}
