@import './breakpoints.scss';

header#site-header {

	box-shadow: 0 4px 3px var(--background-color-dark);
	padding: var(--s-3) var(--s0);
	text-transform: capitalize;
	color: var(--type-color);

	h1 {
		display: inline-block;
		margin: var(--s-4) 0;
		line-height: var(--line-height);
		text-transform: inherit;
	}

	&.flex-header {

		// justify-content: center;
		// align-items: center;
		// flex-wrap: wrap;

		/* align contact information on mobile */
		.flex-header-item:last-of-type {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (min-width: $mobile-breakpoint) {
			display: flex;
			justify-content: space-between;
		}
	}

	.contact-container {
		.contact-item {
			padding: var(--s-4);
			font-weight: 300;
			font-size: var(--s0);
			text-decoration: none;
			display: inline-flex;
			font-family: var(--body-font);

			* {
				line-height: inherit;
				height: inherit;
				color: inherit;
			}
			a {
				text-decoration: none;
				font-family: inherit;
				font-size: inherit;
			}
		}
	}

	.button {
		background-color: var(--background-color-dark);
	}
	&.fixed-header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}



	// @media (min-width: $mobile-breakpoint) {
	// 	position: fixed;
	// 	height: var(--s4);
	// 	margin-bottom: 100px;
	// }

}
