header#site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--s-5) var(--s0);
	h1 {
		margin: 0;
	}
	h1, ul {
		display: inline-block;
	}
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
}
