@import 'breakpoints.scss';

:root {
	--project-spacing: var(--s-1);
}

body > div .section + .section,
.section * + * {
	margin-top: var(--s-1);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--type-color);
}

header#site-header,
footer#site-footer {
	background-color: var(--white-color);
}

/*  general sections */
.section {

	padding: var(--project-spacing);
	width: 100%;
	margin: 0 auto;

	@media (min-width: 1024px) {
		width: 64vw;
	}

	&.section-extended {
		border-left: 4px solid var(--white-color);

		@media (min-width: 1024px) {
			width: 77vw;
		}
	}

}

.banner {
	background-color: var(--gun-metal-blue);
	background-color: #484c5e;
	color: var(--white-color);
	width: 100%;
	font-family: var(--body-font);
	padding: var(--sec1);
	font-size: var(--sec1);
	font-weight: 200;
	* {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	// .heading {
	// 	visibility: hidden;
	// 	display: none;
	// }
}
